*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.header{
    min-height: 95vh;
    width: 100%;
    background-color: rgb(67, 68, 228);
}

nav{
display:flex;
padding: 1% 6%;
justify-content: space-between;
align-items: center;
background-color: white;
border-bottom-style: solid;
border-color: gray;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px  12px;
    position: relative;

}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
    font-style: bold;

}

.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li a:hover::after{
    width: 100%;

}

.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 55px;
    padding-top: 2.5cm;
    padding-bottom: 1cm;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;

}

.hero-btn:hover{
    border: 1px solid white;
    background: white;
    transition: 1s;
    color: black;

}

nav .fa{
    display: none;
}

@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
        }
        .nav-links ul li{
            display: block;
        }
        .nav-links{
            position: absolute;
            background: white;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200;
            text-align: left;
            z-index: 2;
            transition: 1s;

        }
        nav .fa{
            display: block;
            color: black;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
        }
        .nav-links ul{
            padding: 30px;

        }
    }

    .sobre-icone{
        margin-left: 16cm;
        margin-top: 3cm;
        margin-bottom: 2cm;
    }

    .sobre-texto{
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    .sobre-texto h1{
        padding: 16px;
        text-align: right;
        margin-left: 71%;
        font-size: 30px;
    }

    .texto-sobre{
        font-size: 18px;
        display: flex;
        align-items: center;
        margin-top: -40px;
        margin-left: 15px;
        color: rgb(51, 51, 51);
        font-weight: 400;
    }
    .texto-sobre p{
    text-align: right;
    margin-left: 23%;
}
    .texto-sobre img{
        text-align: left;
        margin-left: 8%;
    }

    .sobre-texto-II{
        text-align: center;
        margin-top: 3cm;
    }

    .sobre-texto-II h1{
        text-align: left;
        padding: 1cm;
        margin-left: 3cm;
        margin-bottom: 1cm;
        font-size: 30px;
        margin-top: -2cm;

    }

    .texto-sobre-II{
        margin-left: 4cm;
        margin-bottom: 3cm;
        font-size: 18px;
        text-align: left;
        display: flex;
        color: rgb(51, 51, 51);
        font-weight: 400;
    }
    .texto-sobre-II p{

        margin-top: -30px;

    }
    .texto-sobre-II img{
        text-align: center;
        align-items: center;
        margin-left: 4.5cm;
        margin-top: -4cm;
        margin-bottom: 0.5cm;
    }

.parceiros{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(67, 68, 228);
    margin-top: 1cm;
}

.umbrella-parceiros{
    margin-left: 14.5cm;
    padding: 32px;
}

.parceiros-contact{
    display: flex;
    align-items: center;
}

section .card .image{
    height: 320px;
    width: 280px;
    padding:3px;
    background:  #fff;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0.2cm;
    margin-left: 14.5cm;
    border-radius: 5px;
    margin-top: 0.5cm;
}

section .card .image img{
    height: 165x;
    width: 170px;
    object-fit: cover;
    margin-left: 1.5cm;
    align-items: center;
    border-radius: 8px;
}

section .card .image p{
    margin-left: 90px;
    align-items: center;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 8px;
}

section .card .image a{
    margin-left: 79px;
    align-items: center;
    padding-top: 0.5cm;
    color: rgb(51, 51, 51);
    font-weight: 300;
}



section .card .image .hero-btn-II{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background:rgb(67, 68, 228);
    position: relative;
    cursor: pointer;
    align-items: center;
    margin-left: 1.2cm;
    margin-top: 0.8cm;
    font-size: medium;
   }

   section .card-II .image-II{
    height: 320px;
    width: 280px;
    padding:3px;
    background:  #fff;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0.2cm;
    margin-left: 5.5cm;
    border-radius: 5px;
    margin-top: -9.2cm;
}

section .card-II .image-II img{
    height: 145x;
    width: 152px;
    object-fit: cover;
    margin-left: 1.7cm;
    align-items: center;
    border-radius: 8px;
}

section .card-II .image-II p{
    margin-left: 50px;
    align-items: center;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 8px;
}

section .card-II .image-II a{
    margin-left: 72px;
    align-items: center;
    padding-top: 0.5cm;
    color: rgb(51, 51, 51);
    font-weight: 300;
}



section .card-II .image-II .hero-btn-III{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: rgb(67, 68, 228);
    position: relative;
    cursor: pointer;
    align-items: center;
    margin-left: 1.2cm;
    margin-top: 0.8cm;
    font-size: medium;
   }

   section .card-III .image-III{
    height: 320px;
    width: 280px;
    padding:3px;
    background:  #fff;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0.2cm;
    margin-left: 23.45cm;
    border-radius: 5px;
    margin-top: -9.2cm;
}

section .card-III .image-III img{
    height: 170x;
    width: 180px;
    object-fit: cover;
    margin-left: 1.3cm;
    align-items: center;
    border-radius: 8px;
    margin-top: 7px;
    
}

section .card-III .image-III p{
    margin-left: 2.5cm;
    align-items: center;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 8px;
}

section .card-III .image-III a{
    margin-left: 50px;
    align-items: center;
    padding-top: 0.5cm;
    color: rgb(51, 51, 51);
    font-weight: 300;
    font-size: 10;
}



section .card-III .image-III .hero-btn-IIII{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
   font-size: 13px;
    background: rgb(67, 68, 228);
    position: relative;
    cursor: pointer;
    align-items: center;
    margin-left: 1.2cm;
    margin-top: 0.8cm;
    font-size: medium;
   }


   .conheça-mais-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid white;
    padding: 16px 34px;
    padding-left: 8%;
    padding-right: 8%;
    font-size: 13px;
    background: white;
    position: relative;
    cursor: pointer;
    align-items: center;
    margin-left: 14.2cm;
    margin-top: 1.3cm;
    font-size: medium;
   }

   .conheça-mais-btn:hover{
    border: 1px solid white;
    background: rgb(67, 68, 228);
    transition: 1s;
    color: white;

}

.equipe{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    margin-top: 1cm;
}

.umbrella-equipe{
    margin-left: 15cm;
    padding: 32px;
}

section .card-equipe .image-equipe{
    height: 280px;
    width: 260px;
    padding:3px;
    color: #fff;
    background: rgb(67, 68, 228);
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0.2cm;
    margin-left: 14.5cm;
    border-radius: 5px;
    margin-top: 0.5cm;
}

section .card-equipe .image-equipe img{
    height: 145x;
    width: 152px;
    object-fit: cover;
    margin-left: 1.5cm;
    align-items: center;
    border-radius: 8px;
}

section .card-equipe .image-equipe p{
    margin-left: 115px;
    align-items: center;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 8px;
    color: #fff;
}

section .card-equipe .image-equipe a{
    margin-left: 80px;
    align-items: center;
    padding-top: 0.5cm;
    color: white;
    font-weight: 300;
}

section .card-equipe .image-equipe h5{
    margin-left: 90px;
    margin-top: 15px;
    font-style: italic;
}

   section .card-equipe-II .image-equipe-II{
    height: 280px;
    width: 260px;
    padding:3px;
    background:  rgb(67, 68, 228);
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0.2cm;
    margin-left: 5.5cm;
    border-radius: 5px;
    margin-top: -8.2cm;
    color: #fff;
}

section .card-equipe-II .image-equipe-II img{
    height: 145x;
    width: 152px;
    object-fit: cover;
    margin-left: 1.45cm;
    align-items: center;
    border-radius: 8px;
}

section .card-equipe-II .image-equipe-II p{
    margin-left: 115px;
    align-items: center;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 8px;
    color: #fff;
}

section .card-equipe-II .image-equipe-II a{
    margin-left: 87px;
    align-items: center;
    padding-top: 0.5cm;
    color: white;
    font-weight: 300;
}

section .card-equipe-II .image-equipe-II h5{
    margin-left: 85px;
    margin-top: 15px;
    font-style: italic;
}

   section .card-equipe-III .image-equipe-III{
    height: 280px;
    width: 260px;
    padding:3px;
    background:  rgb(67, 68, 228);
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 0.2cm;
    margin-left: 23.45cm;
    border-radius: 5px;
    margin-top: -8.1cm;
    color: #fff;
}

section .card-equipe-III .image-equipe-III img{
    height: 145x;
    width: 152px;
    object-fit: cover;
    margin-left: 1.5cm;
    align-items: center;
    border-radius: 8px;
    margin-top:2px;
    
}

section .card-equipe-III .image-equipe-III p{
    margin-left: 65px;
    align-items: center;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 8px;
    color: #fff;
}

section .card-equipe-III .image-equipe-III a{
    margin-left: 72px;
    align-items: center;
    padding-top: 0.5cm;
    color: white;
    font-weight: 300;
}

section .card-equipe-III .image-equipe-III h5{
    margin-left: 93px;
    margin-top: 15px;
    font-style: italic;
}

footer{
    background: rgb(67, 68, 228);
    padding: 5%;
}